@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --background-color: #112D4E;
    --white-color: #F9F7F7;
    --first-color: #DBE2EF;
}

body {
    background: var(--background-color);
}

header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

header .nav h3 {
    color: var(--first-color);
}

header .nav a {
    position: relative;
    text-decoration: none;
    margin-left: 1rem;
    color: var(--white-color);
    font-size: 1.2rem;
}

header .nav a::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 0;
    border-radius: 0.5rem;
    background: var(--first-color);
    bottom: 0;
    left: 0;
}

header .nav a:hover::after {
    transition: 0.3s ease all;
    width: 3.7rem;
}